<html>
<body>
    <h1>Hello George, from Home View</h1>
    <p>Current datetime = @DateTime.Now</p>

    @{
        System.Diagnostics.Debug.WriteLine("Hello debug");      // Works on VS output window
    }

</body>
</html>
