@using System.Configuration

<html>
<body>
    <h1>Hello George! This is your Home View</h1>
    <p>Current datetime = @DateTime.Now</p>
    <h2>You are running in environment: @ConfigurationManager.AppSettings["Environment"]</h2>
    @{
        System.Diagnostics.Debug.WriteLine("Hello debug");      // Works on VS output window
    }

</body>
</html>
