@using System.Configuration

<html>
<body>
    <h1>Hello George! Yet another checkin through auto deployment!!!</h1>
    <p>Current datetime = @DateTime.Now</p>
    <h2>You are running in environment: @ConfigurationManager.AppSettings["BundleSample.Environment"]</h2>
    <h2>Release: @ConfigurationManager.AppSettings["Octopus.Release.Number"]</h2>
    @{
        System.Diagnostics.Debug.WriteLine("Hello debug");      // Works on VS output window
    }

</body>
</html>
